@media  screen and (min-width:1020px){   
    .principal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-color: black;
        margin: 0;
    }
    .conexion_error {
        text-align: center;
        color:white;
        width: 100%;
    }
    .encabezado {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        background-color: rgb(46,46,46);
        width: 100%;
        max-width: 1040px;
        padding: 5px;
    }
    .imagen_logo{
        padding-right: 10px;   
        padding-left: 5px; 
    }
    .login{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: right;
    }
    .input_usuario {

        width: 20%;
        height: 30px;
        min-width: 120px;

        background-color: rgb(46, 46, 46);
        outline: none;
        border-radius: 5px;
        border:3px solid black;
    
        font-style: italic;
        color: #6b6b6b;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;

        margin-right: 10px;

    }
    .input_contrasenia{

        width: 20%;
        height: 30px;
        min-width: 120px;

        background-color: rgb(46, 46, 46);
        outline: none;
        border-radius: 5px;
        border:3px solid black;
    
        font-style: italic;
        color: #6b6b6b;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;

        margin-right: 10px;
    }
    .status_login {
        color:white;
        margin:0px;
        padding: 0px;
        margin-left: 10px;
        align-self: center;
    }
    .boton_login_logout {
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-around;
        align-items: center;

        width: 11%;
        height: 38px;
        min-width: min-content;
        background-color: #5543ff;
        outline: none;
        border-radius: 5px;
        border:0px;

        color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 22px;
        transition-duration: 0.4s;
    }
    .bienvenida_usuario {
        width: 100%;
        text-align: center;
        color: white;
    }
    .boton_login_logout:hover {
        background-color: black;
        border:10px;
        color: #5543ff
    }
    .div_barra_usuario{
        display: flex;
        width: 100%;
        max-width: 1040px;
        background: linear-gradient(0turn,#00000000, #2e2e2e, #1d1d1f);
        padding: 5px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .barra_de_busqueda{
        display: flex;
        width: 74%;
        padding: 5px;
        flex-wrap: wrap;
    }
    .input_busqueda{
        min-width: 160px;
        
        background-color: rgb(46, 46, 46);
        outline: none;
        border-radius: 5px;
        border:3px solid black;
    
        font-style: italic;
        color: #6b6b6b;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;        
        margin-right: 10px;
        width: 17%;
    }

    .combo_box_busqueda {
        width: 42%;
        min-width: 170px;
        background-color: rgb(46, 46, 46);
        outline: none;
        border-radius: 5px;
        border:3px solid black;
        font-style: italic;
        color: #6b6b6b;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
        margin-right: 6px;
        
    }
    .boton_buscar {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0px;
        border: 0px;        
        background-color: #4e4e4e00;
    }
    .imagen_buscar {
        width: 76%;
        cursor: pointer;
    }
    .boton_limpiar_busqueda{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0px;
        border: 0px;
        background-color: #4e4e4e00;
    }
    .boton_limpiar_busqueda > img {
        cursor:pointer;
        width: 76%;
    }
    .mensaje_busqueda {
        margin: 0;
        padding-left: 10px;
        align-self: center;
        color: white;
    }
    .boton_agregar_pelicula {
        align-self: flex-start;
        font-size: 25px;
        width: 40px;
        margin: 5px;
    }

    .titular_de_contenedor{
        color: rgb(255, 255, 255);
        width: 100%;
        max-width: 1040px;
        padding-left: 5px;
    }
    .titular_de_contenedor > p {
        padding: 5px;
        margin:0;
    }
    .div_botones_editar_eliminar_pelicula {
        width: 100%;
        text-align: right;
    }  
    .div_botones_editar_eliminar_pelicula  button {

        margin-right: 5px;
    }
 
    .div_atras_y_botones {
        display:flex;
        width: 100%;
        margin: 10px;
    }
    .boton_atras_div{
         display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: row;
        color: rgb(255, 255, 255);
        cursor: pointer;
    }
    .boton_atras_div > p {
        margin: 0px;
        margin-left: 5px;
    }
    .contenedor_resultados{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        max-width: 1040px;
        align-items: center;
    }
    .pelicula{
        display: flex;
        width: 48%;
        height: 25%;
        min-width: 380px;
        margin: 10px;
        color: white;
        background: linear-gradient(0.25turn,#000000, #818181);
        cursor: pointer;
        transition-duration: 0.4s;
    }
    .pelicula:hover{
        box-shadow: 10px 5px 5px white;
    }
    .info_pelicula{
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 20px;
        margin-right: 10px;
        width: 100%;
    }
    .imagen_pelicula{
        padding-right: 10px;
        min-width: 175px;
        min-height: 256px;
        width: 35%;
        height: 35%;
    }
    .labels_pelicula{
        margin: 0;
        color: #5543ff;
        font-weight: bold;
        font-size: 1em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-bottom: 5px;

    }
    .nombre_pelicula{
        margin: 0;

        color:white;  
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight:bold;
        font-size: 1.4em;
        
        width: 100%;
    }
    .nombre_director{
        margin: 0;
        border: 0px;
        color:white;
        background:none;
        
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight:bold;
        font-size: 1em;
        
        padding-bottom: 5px;
        width: 100%;
    }
    .nombre_genero{
        margin: 0;        
        color:white;    
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight:bold;
        font-size: 1em;
        
        width: 100%;
    }
    .anio_pelicula {
        margin: 0;
        /* display: flex; */
        transform: rotate(-90deg);
        margin-top: 197px;
        margin-right: -14px;
        /* padding: 1px; */
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 1.5em;
        /* width: 100%; */
        height: 100%;
    }

    .pelicula_com{
        display: flex;
        width: 100%;
        height: 25%;
        min-width: 380px;
        margin: 10px;
        color: white;
        background: linear-gradient(0.25turn,#000000, #818181);
        font-size: 2.5vw;
        
    }
    .info_pelicula_com{
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
        
        margin-right: 10px;
        width: 100%;
    }
    .imagen_pelicula_com{
        padding-right: 10px;
        min-width: 175px;
        min-height: 256px;
        width: 50%;
    }
    .labels_pelicula_com{
        margin: 0;
        color: #5543ff;
        font-weight: bold;
        font-size: 1em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-bottom: 5px;
        padding-top: 10px;
    }
    .nombre_pelicula_com{
        margin: 0;

        color:white;  
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight:bold;
        font-size: 1.4em;
        
        width: 100%;
    }
    .nombre_director_com{
        margin: 0;
        border: 0px;
        color:white;
        background:none;
        
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight:bold;
        font-size: 1em;
        
        padding-bottom: 5px;
        width: 100%;
    }
    .nombre_genero_com{
        margin: 0;        
        color:white;    
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight:bold;
        font-size: 1em;
        
        width: 100%;
    }
    .anio_pelicula_com {
        margin: 0;

        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 1.5em;
        /* width: 100%; */
        height: 100%;
    }
    .pelicula_sinopsis{
        width: 100%;
        color: white;
        padding-left: 15px;
        padding-right: 15px;
        resize: none;
    }
    .pelicula_comentarios_h3{
        color: white;
        padding-left: 10px;
    }
    .comentarios_contenedor{
        background-color: #707376;
        border: solid;
        border-radius: 7px;
        width: 100%;
        margin: 10px;
        border-color: white;
    }
    .comentarios_cabecera {
        display: flex;
        justify-content: space-between;
        background-color: black;
    }
    .boton_agregar_comentario{
        width: 62px;
        background-color: #808080;
        margin: 5px;
        font-size: xxx-large;
    }
    .div_nuevo_comentario {
        display: flex;
        flex-direction: column;
    }
    .input_comentario {
        background-color: rgb(46, 46, 46);
        border-radius: 5px;
        font-style: italic;
        color: #ffffff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
        padding: 5px;
        margin: 5px;
        margin-bottom: 0px;
    }
    .div_botones_nuevo_comentario {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        padding: 5px;
    }
    .div_botones_nuevo_comentario > button{
        width: 100%;
        height: 40px;
        font-size: 18px;
        border-radius: 12px;
    }
    
    .comentario{
        background-color: rgb(97, 97, 97);
    }
    .texto_com{
        padding: 5px;
        color:white;
    }
    .autor_com{
        color:rgb(68, 0, 255);
        text-align: right;
        padding-right: 10px;
        padding-bottom: 10px;
    }
    .div_nueva_pelicula{
        width: 300px;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        color: white;
        background-color: #707376;
        border: solid;        
        margin: 10px;
        border-radius: 7px;
        background-size: contain;
        background-blend-mode: multiply;
    }
    .div_nueva_pelicula > h3 {
        padding: 5px;
        margin: 0px;
        background-color: black;
    }
    .div_formulario_nueva_pelicula {
        display: contents;
        
    }
    .div_formulario_nueva_pelicula > label {
        padding: 5px;
    }
    .div_formulario_nueva_pelicula > select{
        background-color: rgb(46, 46, 46);
        outline: none;
        border-radius: 5px;
        border:3px solid black;
    
        font-style: italic;
        color: #ffffff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 17x;

        padding: 5px;
        margin: 3px;
        resize: none;
    }
    .div_formulario_nueva_pelicula > textarea{
        background-color: rgb(46, 46, 46);
        outline: none;
        border-radius: 5px;
        border:3px solid black;
    
        font-style: italic;
        color: #ffffff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 17x;

        padding: 5px;
        margin: 3px;
        resize: none;
    }
    .div_formulario_nueva_pelicula > input{
        background-color: rgb(46, 46, 46);
        outline: none;
        border-radius: 5px;
        border:3px solid black;
    
        font-style: italic;
        color: #ffffff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 17x;

        padding: 5px;
        margin: 3px;
        resize: none;
    }
    .div_botones_aceptar_cancelar{
        display: flex;
        justify-content: space-around;
        padding: 10px;
    }
    .div_botones_aceptar_cancelar > button{
        width: 100%;
        height: 40px;
        font-size: 17px;
        border-radius: 12px;
        margin: 5px;
    }
    .footer_div{
        color:white;
        display: flex;
        justify-content: center;
        background-color: rgb(46,46,46);
        width: 100%;
        max-width: 1040px;
        padding: 5px;
    }
    /* nuevos estilos */
    .paginacion p {

        color: white;
        margin: 0;
        }
        .paginacion {
    
            background: #100a1f;
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 20px;
            padding: 10px;
            flex-direction: column;
            color: white;
            align-items: center;
            margin:5px;
        }
        
        .paginacion button {
    
            cursor: pointer;
            border: none;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 50px;
            width: 200px;
            background: #241744;
            color: #fff;
            border-radius: 100px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            transition: .3s ease all;
        }
        
        .paginacion button:hover {
            background: #137c32;
        }


} /* cierre de media screen mayor a 1020px de ancho */

