@media  screen and (max-width:500px){   
    .principal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-color: black;
        margin: 0;
    }
    .encabezado {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        background-color: rgb(46,46,46);
        width: 100%;        
        padding: 5px;
    }
    .imagen_logo{
        padding-right: 10px;   
        padding-left: 5px; 
    }
    .loguin{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .input_usuario {

        width: 20%;
        height: 16px;
        min-width: 120px;

        background-color: rgb(46, 46, 46);
        outline: none;
        border-radius: 5px;
        border:3px solid black;
    
        font-style: italic;
        color: #6b6b6b;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;

        margin-right: 10px;

    }
    .input_contrasenia{

        width: 20%;
        height: 16px;
        min-width: 120px;

        background-color: rgb(46, 46, 46);
        outline: none;
        border-radius: 5px;
        border:3px solid black;
    
        font-style: italic;
        color: #6b6b6b;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;

        margin-right: 10px;
    }
    .boton_ingresar {
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-around;
        align-items: center;

        width: 11%;
        height: 38px;
        min-width: min-content;
        background-color: #5543ff;
        outline: none;
        border-radius: 5px;
        border:0px;

        color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 4.3vw;
    }
    .boton_ingresar:hover {
        background-color: black;
        border:10px;
        color: #5543ff
    }

    .titular_de_contenedor{
        color: white;
        width: 100%;
        max-width: 1040px;
    }
    .titular_de_contenedor > p {
        padding: 5px;
        margin:0;
    }
    .boton_atras{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: row;
        color: rgb(255, 255, 255);
        width: 100%;
        max-width: 1040px;
        cursor: pointer;
    }
    .boton_atras > p {
        margin: 0px;
        margin-left: 5px;
    }
    .contenedor_resultados{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 15px;
        width: 100%;
        max-width: 1040px;
        align-items: center;
    }
    .pelicula{
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        /*min-width: 380px;*/
        margin: 10px;
        color: white;
        background: linear-gradient(0.25turn,#000000, #818181);
        font-size:4vw;
        cursor: pointer;
    }
    .info_pelicula{

        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
        
        margin-right: 10px;
        width: 100%;
    }
    .imagen_pelicula{
        padding-right: 10px;
        width: 39%;
        height: 39%;
    }
    .labels_pelicula{
        margin: 0;
        color: #5543ff;
        font-weight: bold;
        font-size: 0.9em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-bottom: 5px;

    }
    .nombre_pelicula{
        margin: 0;

        color:white;  
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight:bold;
        font-size: 1.2em;
        
        width: 100%;
    }
    .nombre_director{
        margin: 0;
        border: 0px;
        color:white;
        background:none;
        
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight:bold;
        font-size: 0.8em;
        padding-bottom: 5px;
        width: 100%;
    }
    .nombre_genero{
        margin: 0;
        border: 0px;
        color:white;
        background:none;
        
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight:bold;
        font-size: 0.8em;
        
        width: 100%;
    }
    .anio_pelicula {        
        transform: rotate(-90deg);        
        margin-top: 7.3em;    
        margin-right: -0.6em;    
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 1.2em;    
    }
    /*Estilos al abrir una pelicula*/
    
    .pelicula_com{
        display: flex;
        width: 100%;
        height: 25%;
        min-width: 380px;
        margin: 10px;
        color: white;
        background: linear-gradient(0.25turn,#000000, #818181);
        font-size: 3.1vw;
    }
    .info_pelicula_com{
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
        
        margin-right: 10px;
        width: 100%;
    }
    .imagen_pelicula_com{
        padding-right: 10px;
        
        
        width: 35%;
        height: 35%;
    }
    .labels_pelicula_com{
        margin: 0;
        color: #5543ff;
        font-weight: bold;
        font-size: 1em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-bottom: 5px;
        padding-top: 10px;
    }
    .nombre_pelicula_com{
        margin: 0;

        color:white;  
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight:bold;
        font-size: 1.4em;
        
        width: 100%;
    }
    .nombre_director_com{
        margin: 0;
        border: 0px;
        color:white;
        background:none;
        
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight:bold;
        font-size: 1em;
        
        padding-bottom: 5px;
        width: 100%;
    }
    .nombre_genero_com{
        margin: 0;        
        color:white;    
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight:bold;
        font-size: 1em;
        
        width: 100%;
    }
    .anio_pelicula_com {
        margin: 0;

        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 1.5em;
        /* width: 100%; */
        height: 100%;
    }
    .comentarios{
        background-color: rgb(66, 67, 136);
        width: 100%;
        margin: 10px;
    }
    .comentario{
        background-color: rgb(97, 97, 97);
    }
    .texto_com{
        padding: 5px;
        color:white;
    }
    .autor_com{
        color:rgb(68, 0, 255);
        text-align: right;
        padding-right: 10px;
        padding-bottom: 10px;
    }
} /* cierre de media screen mayor a 500px de ancho */